node_modules
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
.astro
packages/*/dist
.env
.env.local
build/
.logs/
release/
.t3
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
